@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

/* ===============================
   Variáveis e Reset
================================== */
:root {
  --primary-color: #0B2738;
  --second-color: #405A68;
  --third-color: #97A6AF;
  --text-second-color: white;
  --color-background: white;

  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10 px*/
}


body {
  /*<a href="https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/">Free SVG Backgrounds and Patterns by SVGBackgrounds.com</a>*/
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230B2738' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23768691'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  
  
  font-family: "Geologica", sans-serif;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
  

/* ===============================
   Tamanhos de fontes
================================== */
/*antes de enviar o trabalho ver se estou usando mesmo isso*/
h1 { font-size: 6rem; text-transform: uppercase; }
h2 { font-size: 5.5rem; }
h3 { font-size: 5rem; }
h4 { font-size: 4.5rem; }
h5 { font-size: 4rem; }
h6 { font-size: 3.5rem; }

/* ===============================
   Menu e Cabeçalho
================================== */
.menu {
  position: fixed; /* mantem o menu(cabeçalho) fixado na pagina*/
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid var(--third-color);
  background-color: var(--color-background);
  box-sizing: border-box; /* faz que os elemementos nao ultrapasse a caixa do menu*/
  z-index: 1;

  display: flex;
  align-items: center;
  padding: 10px 30px; 
  overflow-x: hidden; /* Impede que o conteúdo transborde horizontalmente e oculta caso ultrapasse */
}

/*Parte do codigo das configuraçoes da logo*/
.logo{
    margin-left: 30px; /* aqui vai manter a minha logo afastada do lado esquerdo*/
}

/*Modificaçoes do tamanho da minha logo*/
.img-circular {
  width:30%;
  height: 100%;
}
/*Fim parte do codigo das configuraçoes da logo*/

nav{
    margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: uppercase;
}

/*Animação e criação da linha dos link no menu*/
nav a::after{
  content:'';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--second-color);
  transition: all 300ms ease-in-out;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}
/*termina a linha da animação do link*/

/* ===============================
   Conteúdo principal
================================== */
.section-project, .section-about, .section-skill{
  scroll-margin-top: 5rem; /* Adiciona um espaço  acima da seção quando clicar na ancora que leva a seçao da pagina*/
}
.main-content {
  max-width: 120rem;
  margin: 0 2rem;
}
.section-about{
  min-height: 100vh;
  background-image: url(../imagens/Background-SobreMim.png);
  background-size: cover;
  background-position: center;
  height: 80rem;
  max-height: 100%;
}
.section-project{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 0 4.8rem;
}
.section-skill{
  background-image: url(../imagens/backgroundVirado.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-top: 1rem;
}
.space-area{
  margin: 7rem;
}
/*============================
   Seção introdutoria
=============================*/
.introduction-section{
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.intro-text{
  text-align: center;
  
}
.intro-text h1{
  font-size: 5rem;
}
.intro-text p{
  font-size: 1.8rem;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.intro-text button{
  width: 25rem;
  height: 5rem;
  margin-block-start: 5em;
  margin-block-end: 1em;

  background-color: var(--primary-color);
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.8rem 0.8rem var(--second-color);
}
.intro-text button a {
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: var(--text-second-color);
}

/* ===============================
   Seção Sobre Mim
================================== */
.content-about{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:  var(--gap);
  height: 100vh;
}
.sobre-text, .sobre-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: var(--text-second-color);
}
.sobre-text h2{
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.sobre-text p{
  font-size: 2rem;
  text-align: justify;
  line-height: 1.5;
}
.span-config{
  display:inline-block;
  padding: 0;
}
.sobre-img img{
  width: 100%;
  height: auto;
}
/* ===============================
   Seção Projetos
================================== */
.content-project{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--gap);
}

.block{
  display: flex;
  flex-direction: column; /* Vai organiza a imagem e o texto em coluna */
  background-color: var(--second-color);
  border-radius: 1rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* Vai fazer que a imagem fique dentro da borda arredondada */
  border: none; /* Remove a borda */
  padding: 1rem;
  
}

/* Estilo da imagem dentro do bloco */
.project-img {
  width: 100%;
  height: auto;
  overflow: hidden; /* Esconde qualquer parte da imagem que possa transbordar */
  border-radius: 1rem 1rem 0 0;
}

.project-img img {
  width: 100%; /* A imagem sempre tera 100% da largura do meu contêiner */
  height: auto; /* A altura vai se ajusta para manter a proporção */
  display: block; /* tira o espaço extra abaixo da imagem */
  transition: transform 0.3s ease; /* Adiciona uma transição suave para um possível efeito de hover (nao sei se vou usar????? $$$Nao esquece em$$$$)*/
}
.project-img img:hover{

  color: azure;/*nao ta funcionando so coloquei pra sair o erro*/
  /*depois tentar fazer a animaçao da imagem aumentar*/
}
.icons-project a img{
  width: 4rem;
  height: 4rem;
  margin: 0.5rem 1.5rem;
}

.h2project{
  padding: 1rem;
}
/* Configuração do titulo "PROJETOS"*/
.h2project h2{
  font-size: 4.8rem;
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
}
/*===============================================================================
O context-text faz as configurações do titulo, texto e da lista que ficam na grid seção projeto
================================================================================*/
.content-text{
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  color: white;
}

.content-text h3{
  font-size: 2.4rem;

}
.content-text p{
  font-size: 1.6rem;
  text-align: justify;
}
/*por causa que resetei o padding e o margin no inicio a ul nao consegue o espaçamento por isso da configuração abaixo pra alinhar ela da maneira que quero*/
.content-text ul{
  padding-left: 1.5rem; 
  margin-top: 1rem;
}
.content-text li{
  font-size: 1.5rem;
}
/*===============================================================================
Acima context-text faz as configurações do titulo, texto e da lista que ficam na grid seção projeto
=================================================================================*/

/* ===============================
   Seção Habilidades
================================== */
/*Por favor nao esqueça de colocar "." quando for referenciar a classe, gabriel*/
.content-skill{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;

}
 .text-skill{
  display: flex;
  flex-flow: column wrap;
  margin: 10rem;
  
}

.block-skill{
  display: flex;
}
.content-block{
  padding: 1rem;
  border:0.2rem solid black;
  border-radius: 0.5rem;
  background-color: var(--color-background);
  margin: 0.1rem 0.3rem;
  border: none;

}
.content-block:hover{
  background-color: rgba(255, 255, 255, 0.888);
}
.text-skill h4{
  text-align: center;
}
.content-block h5{
  font-size: 1.5rem;
  text-transform: uppercase;
}
.img-left{
  display: flex;
  flex-flow: column wrap;
  justify-content:center;
}

.img-left img{
  width: 70%;
  height: auto;
}
